<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>

<body>
<h3 th:text="${titulo}"></h3>
<table>
    <thead>
    <tr>
        <th th:text="${id_animal}"></th>
        <th th:text="${duenho}"></th>
        <th th:text="${peso}"></th>
        <th th:text="${edad}"></th>
        <th th:text="${id_veterinaria}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="animl: ${animal}">
        <td th:text="${animl.idAnimal}"></td>
        <td th:text="${animl.duenho}"></td>
        <td th:text="${animl.peso}"></td>
        <td th:text="${animl.edad}"></td>
        <td th:text="${animl.idVeterinaria}"></td>
    </tr>
    </tbody>
</table>
</body>

</html>