<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>

<body>
<h3 th:text="${titulo}"></h3>
<table>
    <thead>
    <tr>
        <th th:text="${id_veterinaria}"></th>
        <th th:text="${nombre}"></th>
        <th th:text="${descripcion}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="veterinar: ${veterinaria}">
        <td th:text="${veterinar.idVeterinaria}"></td>
        <td th:text="${veterinar.nombre}"></td>
        <td th:text="${veterinar.descripcion}"></td>
    </tr>
    </tbody>
</table>
</body>

</html>